*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    color: rgb(223, 223, 223);
    justify-content: center;
    align-items: center;
    padding: 3rem;
}
div{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}